.mynavigationa{background-color:#000000;margin-bottom: 0px;}
#mynavigation a{color: wheat}
.mynavigationa-menu{background-color:#000000 }
.mynavigationa-img{height:300px;background-color: #343434;color: white}
.welcom{font-size: 80px;position: absolute;top:80px;left:-180px}
.left{font-size: 25px;position: absolute;top:50px;}
.author{position: absolute;top: 80px}
/*.welcom {font-size: 80px}*/